[submodule "chipmunk/Chipmunk2D"]
	path = chipmunk/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
[submodule "klib/klib"]
	path = klib/klib
	url = https://github.com/attractivechaos/klib
[submodule "glfw/glfw"]
	path = glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "tinycthread/tinycthread"]
	path = tinycthread/tinycthread
	url = https://github.com/tinycthread/tinycthread
[submodule "glm/glm"]
	path = glm/glm
	url = https://github.com/g-truc/glm
[submodule "par/par"]
	path = par/par
	url = https://github.com/prideout/par
